<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="MusicWeb.Master" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css”>
    <link href="Admin/Bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="Admin/Bootstrap/dist/css/font-awesome.min.css" rel="stylesheet" />
<link href="Admin/Bootstrap/dist/css/admin.min.css" rel="stylesheet" type="text/css" />
<link href="Admin/Bootstrap/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
<link href="Admin/Bootstrap/glyphicons.css" rel="stylesheet" type="text/css" />
<link href="Admin/Bootstrap/css/stylenewaddmin.css" rel="stylesheet" type="text/css" />
<link href="Admin/Bootstrapcss/table.css" rel="stylesheet" type="text/css" />
     <link href="Admin/assets/css/StyleSheetHome.css" rel="stylesheet" />
    <link href="Admin/assets/css/StyleSheetMaster.css" rel="stylesheet" />
    <link href="Admin/Bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form action="#" method="post" runat="server">
    <header>
        <div id="head1">
            <img id="logo" src="Picture/Icon/logo.jpg">
        </div>
        <div class="search">
            <div>
                <%--<input type="text" name="search" id="search" placeholder="Tên bài hát" />
                <input type="submit" name="sub" value="Tìm kiếm" class="btn btn-primary"/>--%>
                <asp:TextBox ID="txttenbh" runat="server"></asp:TextBox>
                <asp:Button ID="searchM" runat="server" Text="Search" OnClick="searchM_Click" CssClass="btn btn-primary"/>
            </div>
    </div>
        <div id="head2" style="height:70px">
            <div id="info"> 
                <a href="#"><asp:Image ID="avatar" runat="server" ImageUrl="~/Picture/Icon/user.jpg"/></a>
                <asp:Label ID="showName" runat="server"></asp:Label>
            </div>
            <div runat="server">
                        <asp:Button CssClass="btn btn-primary" runat="server" Text="Đăng nhập" OnClick="Log_In"/>
                        <asp:Button CssClass="btn btn-primary"  runat="server" Text="Đăng xuất" OnClick="Unnamed2_Click"/> 
            </div>
        </div>
    </header>
    <div id="main">
        <ul>
            <div class="music">
                <img class="fas" src="Picture/Icon/iconmusic.jpg"/>
                <li><a href="TrangChu.aspx"> Trang chủ </a></li>
            </div>
            <div class="music">
               <img class="fas" src="Picture/Icon/iconmusic.jpg"/>
                <li><a href="BaiHat.aspx"> Bài Hát </a></li>
            </div>
             <div class="music">
               <img class="fas" src="Picture/Icon/iconmusic.jpg"/>
                <li><a href="TheLoai.aspx"> Thể loại </a>
                </li>
            </div>
             <div class="music">
               <img class="fas" src="Picture/Icon/iconmusic.jpg"/>
                <li><a href="CaSi.aspx"> Ca sĩ </a></li>
            </div>
            <div class="music">
              <img class="fas" src="Picture/Icon/iconmusic.jpg"/>
                <li><a href="Album.aspx"> Album </a></li>
            </div>
        </ul>

        </div>
    

    <div id="content">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <footer> Copyright by Nông Việt Hoàng and Trần Trung Hiếu</footer>
    <style type="text/css">
        footer {
    line-height: 50px;
    bottom: 0;
    background: #f0f0f0;
    clear: both;
    text-align: center;
    font-size: 20px;
    color: red;
    height: 50px;
}
        .search {
    /* margin: auto; */
    width: 431px;
    padding-top: 21px;
    margin:auto;
}
    </style>
        </form>
</body>
</html>
